@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  height: 100%;
}

a {
  font-family: "Roboto", sans-serif, sans-serif;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 5;
}

.header__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 60px;
}

.header__logo {
  margin-right: 110px;
}

.header__burger {
  display: none;
  position: relative;
  width: 25px;
  height: 18px;
}

.header__burger::before, .header__burger::after,
.header__burger span {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fff;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::after {
  top: 16px;
}

.header__burger::before {
  top: 0;
}

.header__burger span {
  top: 8px;
}

.header__burger.active {
  z-index: 50;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.header__icon {
  margin-left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 990px) {
  .header__logo {
    margin-right: 55px;
  }
  .header__icon {
    margin-left: 60px;
  }
}

@media (max-width: 768px) {
  .header__icon {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .container {
    max-width: none;
  }
  .header__body {
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  .header {
    height: 60px;
  }
  .header__logo img {
    max-width: 40px;
  }
}

.menu {
  width: 100%;
}

.menu__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list-item:last-child {
  display: none;
}

.menu__list-link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__list-link:hover {
  color: #ff0000;
}

@media (max-width: 768px) {
  .menu.active {
    display: block;
    position: fixed;
    top: 80px;
    width: 100%;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu.active .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: #000;
  }
  .menu.active .menu__list-item {
    margin-bottom: 15px;
  }
  .menu__list-item:last-child {
    display: block;
  }
}

@media (max-width: 500px) {
  .menu.active {
    top: 60px;
  }
}

.home {
  margin-top: 120px;
}

.home__body {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.home__title {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;
  margin-bottom: 65px;
}

.home__text {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.home__text p {
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .home__body {
    max-width: none;
  }
  .home__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .home {
    margin-top: 95px;
  }
  .home__title {
    font-size: 36px;
    line-height: 42px;
  }
  .home__text {
    font-size: 24px;
    line-height: 28px;
  }
}

.footer {
  width: 100%;
  background: #333333;
  height: 120px;
}

.footer__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 60px;
}

.footer__copy {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-right: 205px;
  white-space: nowrap;
}

.footer__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__soc {
  margin-left: 85px;
}

@media (max-width: 1240px) {
  .footer__copy {
    margin-right: 130px;
  }
}

@media (max-width: 1180px) {
  .footer__copy {
    margin-right: 60px;
  }
  .footer__soc {
    margin-left: 60px;
  }
}

@media (max-width: 1050px) {
  .footer__copy {
    margin-right: 30px;
  }
  .footer__soc {
    margin-left: 30px;
  }
}

@media (max-width: 990px) {
  .footer__body {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .footer__copy {
    margin-right: 0;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer__body {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 680px) {
  .footer {
    height: 184px;
    padding-top: 30px;
    padding-bottom: 8px;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }
  .footer__copy {
    font-size: 14px;
    line-height: 16px;
  }
  .footer__soc {
    margin-left: 45px;
  }
}

.footer-menu {
  width: 100%;
}

.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu__list-link {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

@media (max-width: 680px) {
  .footer-menu {
    width: 100%;
    border-right: 1px solid #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
  .footer-menu__list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 45px;
  }
  .footer-menu__list-item {
    margin-bottom: 5px;
  }
  .footer-menu__list-item:last-child {
    margin-bottom: 0;
  }
  .footer-menu__list-link {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 450px) {
  .footer-menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 70%;
            flex: 1 0 70%;
  }
  .footer-menu__list-item {
    margin-bottom: 0;
  }
  .footer-menu__list-link {
    line-height: 14px;
  }
}

.footer-soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-soc__list-item {
  margin-right: 25px;
}

.footer-soc__list-item:last-child {
  margin-right: 0;
}

@media (max-width: 680px) {
  .footer-soc {
    width: 100%;
  }
  .footer-soc__list-link img {
    max-width: 26px;
  }
  .footer-soc__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-soc__list-item {
    margin-right: 0px;
    margin-bottom: 17px;
  }
  .footer-soc__list-item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .footer-soc__list-item {
    margin-right: 0px;
    margin-bottom: 17px;
  }
}

.gallery {
  width: 100%;
  height: 100%;
  margin-top: 117px;
}

.gallery__search {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 500px) {
  .gallery {
    margin-top: 90px;
  }
}

.gallery-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-search__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-search__column input {
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding: 5px 10px;
  width: 100%;
}

.gallery-search__column:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.gallery-search__column:last-child {
  margin-left: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
}

.gallery-search__column input::-webkit-input-placeholder {
  font-size: 24px;
  line-height: 28px;
  color: #777777;
}

.gallery-search__column input:-ms-input-placeholder {
  font-size: 24px;
  line-height: 28px;
  color: #777777;
}

.gallery-search__column input::-ms-input-placeholder {
  font-size: 24px;
  line-height: 28px;
  color: #777777;
}

.gallery-search__column input::placeholder {
  font-size: 24px;
  line-height: 28px;
  color: #777777;
}

.gallery-search__toggles {
  width: 60px;
  margin: 40px auto;
  text-align: center;
}

.gallery-search__ios-toggle, .gallery-search__ios-toggle:active {
  position: absolute;
  top: -5000px;
  height: 0;
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
}

.gallery-search__checkbox-label {
  display: block;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  height: 30px;
  border-radius: 18px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border: 2px solid #000000;
}

.gallery-search__checkbox-label::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  line-height: 34px;
  text-indent: 40px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  top: -2px;
  left: -2px;
  right: auto;
  background: white;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border: 2.5px solid #ff0000;
}

.gallery-search__ios-toggle:checked + .gallery-search__checkbox-label {
  -webkit-box-shadow: inset 0px 0px 0px 20px black;
          box-shadow: inset 0px 0px 0px 20px black;
}

.gallery-search__ios-toggle:checked + .gallery-search__checkbox-label::before {
  left: calc(100% - 28px);
  /*box-shadow*/
  -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(255, 0, 0, 0.3);
          box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(255, 0, 0, 0.3);
}

.gallery-search__item {
  font-size: 24px;
  line-height: 28px;
  margin-right: 7px;
}

.gallery-search__item:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .gallery-search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery-search__column {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery-search__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .gallery-search__item span {
    display: none;
  }
  .gallery-search__item {
    margin-right: 30px;
    text-transform: capitalize;
  }
  .gallery-search__toggles {
    margin: 25px auto;
  }
}

.gallery-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 15px;
}

.gallery-images__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px;
}

.gallery-images__item img {
  margin-bottom: 10px;
  max-width: 380px;
}

.gallery-images__item a {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 950px) {
  .gallery-images {
    max-width: none;
  }
  .gallery-images__item img {
    max-width: 280px;
  }
}

@media (max-width: 768px) {
  .gallery-images__item img {
    max-width: 180px;
  }
  .gallery-images__item {
    margin: 10px 12px 10px 12px;
  }
  .gallery-images__item a {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 500px) {
  .gallery-images {
    margin: 0 -24px;
  }
  .gallery-images__item img {
    max-width: 152px;
    margin-bottom: 5px;
  }
}

.asset {
  width: 100%;
  height: 100%;
  margin-top: 140px;
}

.asset__body {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.asset__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

.asset__title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  display: none;
}

.asset__image {
  margin-right: 40px;
}

.asset__image img {
  max-width: 640px;
}

.asset__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1006px) {
  .asset {
    margin-top: 100px;
  }
  .asset__body {
    max-width: none;
    padding: 0 75px;
  }
  .asset__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .asset__title {
    display: block;
  }
  .asset__image img {
    max-width: 100%;
  }
  .asset__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0px;
    margin-bottom: 40px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .asset__body {
    padding: 0 25px;
  }
}

@media (max-width: 500px) {
  .asset {
    margin-top: 80px;
  }
}

.asset-info__title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.asset-info__text {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 40px;
}

.asset-info__pub {
  margin-bottom: 50px;
}

.asset-info__pub-message {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  background: rgba(255, 0, 0, 0.5);
  border: 1px solid #ff0000;
  border-radius: 20px;
  padding: 15px 60px;
  cursor: pointer;
}

@media (max-width: 1006px) {
  .asset-info__title {
    display: none;
  }
  .asset-info__text {
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .asset-info__pub {
    margin-bottom: 80px;
  }
  .asset-info__pub-message {
    padding: 15px 43px;
  }
}

.asset-prop {
  width: 100%;
  height: 100%;
}

.asset-prop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.asset-prop__item {
  width: 100%;
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid #ff0000;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  padding-top: 2px;
}

.asset-prop__key {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  margin-bottom: 4px;
}

.asset-prop__value {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #ff0000;
  padding-bottom: 15px;
}

@media (max-width: 1100px) {
  .asset-prop__item {
    margin-bottom: 25px;
  }
}

@media (max-width: 1006px) {
  .asset-prop__item:last-child {
    margin-bottom: 0px;
  }
}

.asset-sub {
  margin-bottom: 105px;
}

.asset-sub__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.asset-sub__list-link {
  text-decoration: underline;
  text-align: center;
}

.asset-sub__list-link {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.asset-sub__list-span {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

@media (max-width: 1006px) {
  .asset-sub__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .asset-sub__list-item {
    margin-bottom: 20px;
  }
  .asset-sub__list-item:last-child {
    margin-bottom: 0;
  }
}

.mint-dc {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
  height: 100%;
  margin-top: 120px;
  margin-bottom: 125px;
}

.mint-dc__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mint-dc__title {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;
  margin-bottom: 25px;
}

.mint-dc__image {
  margin-bottom: 20px;
}

.mint-dc__image img {
  max-width: 408px;
}

@media (max-width: 500px) {
  .mint-dc {
    margin-top: 80px;
  }
  .mint-dc__title {
    font-size: 36px;
    line-height: 42px;
  }
  .mint-dc__image img {
    max-width: 302px;
  }
  .mint-dc__image {
    margin-bottom: 55px;
  }
}

.button {
  max-width: 210px;
  margin: 0 auto;
  background: #000000;
  border-radius: 10px;
  padding: 15px 70px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__link {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.mint-c {
  width: 100%;
  height: 100%;
  margin-top: 120px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-bottom: 125px;
}

.mint-c__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mint-c__title {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;
  margin-bottom: 90px;
}

.mint-c__list {
  max-width: 630px;
  padding: 0 15px;
  width: 100%;
}

.mint-c__item {
  margin-bottom: 30px;
}

.mint-c__item:last-child {
  margin-bottom: 0;
}

.mint-c__item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.mint-c__item-price {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.mint-c__item-amount {
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #ff0000;
}

.mint-c__subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.mint-c__button {
  margin-top: 70px;
  padding: 15px 50px;
}

@media (max-width: 500px) {
  .mint-c {
    margin-top: 100px;
  }
  .mint-c__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 70px;
  }
}

.mint-popup {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.mint-popup.active {
  display: block;
}

.mint-popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100%;
}

.mint-popup__content {
  max-width: 650px;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 10px;
  padding: 30px 10px;
}

.mint-popup__exit {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mint-popup__exit-link {
  font-size: 32px;
  color: #000000;
}

.mint-popup__title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.mint-popup__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.mint-popup__image img {
  max-width: 420px;
  margin-bottom: 10px;
}

.mint-popup__image span {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.mint-popup__subtitle {
  text-align: center;
}

.mint-popup__subtitle-link {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

@media (max-width: 680px) {
  .mint-popup__body {
    padding: 0 15px;
  }
  .mint-popup__content {
    max-width: none;
    width: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    border-radius: 10px;
    padding: 30px 8px;
  }
  .mint-popup__image img {
    max-width: 100%;
  }
}

.wallet-dc {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
  height: 100%;
  margin-top: 120px;
  margin-bottom: 125px;
}

.wallet-dc__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wallet-dc__title {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;
  margin-bottom: 25px;
}

.wallet-dc__image {
  margin-bottom: 20px;
}

.wallet-dc__image img {
  max-width: 408px;
}

@media (max-width: 500px) {
  .wallet-dc {
    margin-top: 80px;
  }
  .wallet-dc__title {
    font-size: 36px;
    line-height: 42px;
  }
  .wallet-dc__image img {
    max-width: 302px;
  }
  .wallet-dc__image {
    margin-bottom: 55px;
  }
}

.wallet-c {
  width: 100%;
  height: 100%;
  margin-top: 120px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-bottom: 125px;
}

.wallet-c__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wallet-c__title {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;
  margin-bottom: 7px;
}

.wallet-c__code {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  margin-bottom: 70px;
}

.wallet-c__list {
  max-width: 630px;
  padding: 0 15px;
  width: 100%;
}

.wallet-c__item {
  margin-bottom: 30px;
}

.wallet-c__item:last-child {
  margin-bottom: 0;
}

.wallet-c__item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.wallet-c__item-price {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.wallet-c__item-amount {
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #ff0000;
}

.wallet-c__subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

@media (max-width: 500px) {
  .wallet-c {
    margin-top: 100px;
  }
  .wallet-c__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 7px;
  }
  .wallet-c__code {
    margin-bottom: 45px;
  }
}

.wallet-have {
  width: 100%;
  height: 100%;
  margin-top: 120px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-bottom: 125px;
}

.wallet-have__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wallet-have__title {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;
  margin-bottom: 7px;
}

.wallet-have__list {
  max-width: 630px;
  padding: 0 15px;
  width: 100%;
}

.wallet-have__item {
  margin-bottom: 30px;
}

.wallet-have__item:last-child {
  margin-bottom: 0;
}

.wallet-have__item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.wallet-have__item-price {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.wallet-have__item-amount {
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #ff0000;
}

@media (max-width: 500px) {
  .wallet-have {
    margin-top: 100px;
  }
  .wallet-have__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 7px;
  }
}

.wallet-have-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 15px;
}

.wallet-have-images__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px;
}

.wallet-have-images__item img {
  margin-bottom: 10px;
  max-width: 380px;
}

.wallet-have-images__item a {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 950px) {
  .wallet-have-images {
    max-width: none;
  }
  .wallet-have-images__item img {
    max-width: 280px;
  }
}

@media (max-width: 768px) {
  .wallet-have-images__item img {
    max-width: 180px;
  }
  .wallet-have-images__item {
    margin: 10px 12px 10px 12px;
  }
  .wallet-have-images__item a {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 500px) {
  .wallet-have-images {
    margin: 0 -24px;
  }
  .wallet-have-images__item img {
    max-width: 152px;
    margin-bottom: 5px;
  }
}

.wallet-sww {
  width: 100%;
  height: 100%;
  margin-top: 120px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-bottom: 125px;
}

.wallet-sww__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}

.wallet-sww__title {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;
  margin-bottom: 7px;
}

.wallet-sww__code {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  margin-bottom: 115px;
}

.wallet-sww__list {
  max-width: 630px;
  padding: 0 15px;
  width: 100%;
}

.wallet-sww__item {
  margin-bottom: 30px;
}

.wallet-sww__item:last-child {
  margin-bottom: 0;
}

.wallet-sww__item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.wallet-sww__item-price {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.wallet-sww__item-amount {
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #ff0000;
}

.wallet-sww__subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

@media (max-width: 500px) {
  .wallet-sww {
    margin-top: 100px;
  }
  .wallet-sww__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 7px;
  }
  .wallet-sww__code {
    margin-bottom: 45px;
  }
}

.wallet-asset {
  width: 100%;
  height: 100%;
  margin-top: 135px;
}

.wallet-asset__body {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wallet-asset__image {
  margin-right: 40px;
}

.wallet-asset__image img {
  max-width: 640px;
}

.wallet-asset__top.resp {
  display: none;
}

.wallet-asset__title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}

.wallet-asset__subtitle {
  text-align: center;
  margin-bottom: 40px;
}

.wallet-asset__subtitle a {
  font-size: 18px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.wallet-asset__details {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 20px;
}

.wallet-asset__total {
  margin-bottom: 10px;
}

.wallet-asset__sub {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 40px;
}

@media (max-width: 1080px) {
  .wallet-asset__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .wallet-asset__top.desc {
    display: none;
  }
  .wallet-asset__top.resp {
    display: block;
  }
  .wallet-asset__image {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .wallet-asset__image img {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .wallet-asset {
    margin-top: 95px;
  }
  .wallet-asset__sub {
    display: none;
  }
  .wallet-asset__block {
    width: 100%;
  }
}

.asset-total {
  background: #c4c4c4;
  border-radius: 10px;
  padding: 20px;
}

.asset-total__title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.asset-total__due {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.asset-total__amount {
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #000000;
}

.asset-content__item .asset-content__table {
  display: none;
}

.asset-content__item.active .asset-content__table {
  display: table;
}

.asset-content__item .asset-content__dropdown {
  border: 5px solid transparent;
  border-top: 10px solid black;
  margin-bottom: -5px;
  margin-left: 5px;
}

.asset-content__item.active .asset-content__dropdown {
  border: 5px solid transparent;
  border-bottom: 10px solid black;
  margin-bottom: 5px;
  margin-left: 5px;
}

.asset-content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.asset-content__title {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.asset-content__table {
  margin-bottom: 10px;
}

.asset-table {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  border-spacing: 0;
  margin-bottom: 10px;
}

.asset-table thead {
  background: #000;
  padding: 2px 0;
}

.asset-table thead tr {
  border: none;
}

.asset-table thead tr td {
  border: none;
  width: 33.333%;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.asset-table tbody {
  padding: 2px 0;
  background: #fff;
}

.asset-table tbody tr td {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

table,
table > * {
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
}

@media (max-width: 500px) {
  .asset-table {
    max-width: none;
    margin: 0;
    margin-bottom: 10px;
  }
  .wallet-asset__total {
    margin-bottom: 30px;
  }
}

.gallery-dop {
  width: 100%;
  height: 100%;
  margin-top: 117px;
}

.gallery-dop__search {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 500px) {
  .gallery-dop {
    margin-top: 90px;
  }
}

.gallery-dop-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-dop-search__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-dop-search__column input {
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding: 5px 10px;
  width: 100%;
}

.gallery-dop-search__column:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: #000;
  padding: 20px 70px;
}

.gallery-dop-search__column input::-webkit-input-placeholder {
  font-size: 24px;
  line-height: 28px;
  color: #777777;
}

.gallery-dop-search__column input:-ms-input-placeholder {
  font-size: 24px;
  line-height: 28px;
  color: #777777;
}

.gallery-dop-search__column input::-ms-input-placeholder {
  font-size: 24px;
  line-height: 28px;
  color: #777777;
}

.gallery-dop-search__column input::placeholder {
  font-size: 24px;
  line-height: 28px;
  color: #777777;
}

.gallery-dop-search__toggles {
  width: 60px;
  margin: 40px auto;
  text-align: center;
}

.gallery-dop-search__ios-toggle, .gallery-dop-search__ios-toggle:active {
  position: absolute;
  top: -5000px;
  height: 0;
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
}

.gallery-dop-search__checkbox-label {
  display: block;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  height: 30px;
  border-radius: 18px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border: 2px solid #000000;
}

.gallery-dop-search__checkbox-label::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  line-height: 34px;
  text-indent: 40px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  top: -2px;
  left: -2px;
  right: auto;
  background: white;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border: 2.5px solid #ff0000;
}

.gallery-dop-search__ios-toggle:checked + .gallery-dop-search__checkbox-label {
  -webkit-box-shadow: inset 0px 0px 0px 20px black;
          box-shadow: inset 0px 0px 0px 20px black;
}

.gallery-dop-search__ios-toggle:checked + .gallery-dop-search__checkbox-label::before {
  left: calc(100% - 28px);
  /*box-shadow*/
  -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(255, 0, 0, 0.3);
          box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(255, 0, 0, 0.3);
}

.gallery-dop-search__item {
  font-size: 24px;
  line-height: 28px;
  margin-right: 7px;
}

.gallery-dop-search__item:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .gallery-dop-search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery-dop-search__column {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery-dop-search__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .gallery-dop-search__item span {
    display: none;
  }
  .gallery-dop-search__item {
    margin-right: 30px;
    text-transform: capitalize;
  }
  .gallery-dop-search__column:first-child {
    padding: 10px 25px;
  }
  .gallery-dop-search__toggles {
    margin: 25px auto;
  }
}

.gallery-dop-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 15px;
}

.gallery-dop-images__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px;
}

.gallery-dop-images__item img {
  margin-bottom: 10px;
  max-width: 380px;
}

.gallery-dop-images__item a {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 950px) {
  .gallery-dop-images {
    max-width: none;
  }
  .gallery-dop-images__item img {
    max-width: 280px;
  }
}

@media (max-width: 768px) {
  .gallery-dop-images__item img {
    max-width: 180px;
  }
  .gallery-dop-images__item {
    margin: 10px 12px 10px 12px;
  }
  .gallery-dop-images__item a {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 500px) {
  .gallery-dop-images {
    margin: 0 -24px;
  }
  .gallery-dop-images__item img {
    max-width: 152px;
    margin-bottom: 5px;
  }
}

.gallery-dop-popup-sww {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.gallery-dop-popup-sww.active {
  display: block;
}

.gallery-dop-popup-sww__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100%;
}

.gallery-dop-popup-sww__content {
  max-width: 650px;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 10px;
  padding: 30px 10px;
}

.gallery-dop-popup-sww__exit {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-dop-popup-sww__title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 45px;
}

.gallery-dop-popup-sww__text {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 768px) {
  .gallery-dop-popup-sww__body {
    padding: 0 25px;
  }
}

.gallery-dop-popup-tt {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.gallery-dop-popup-tt.active {
  display: block;
}

.gallery-dop-popup-tt__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100%;
}

.gallery-dop-popup-tt__content {
  max-width: 650px;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 10px;
  padding: 30px 10px;
}

.gallery-dop-popup-tt__exit {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-dop-popup-tt__title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
}

.gallery-dop-popup-tt__area {
  width: 100%;
  padding: 0 8px;
  margin-bottom: 30px;
}

.gallery-dop-popup-tt__area textarea {
  width: 100%;
  resize: none;
  font-size: 18px;
  line-height: 25px;
  color: #000;
  height: 200px;
  border: 1px solid #000000;
  background: #ffffff;
  padding: 10px;
}

.gallery-dop-popup-tt__area textarea::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #999999;
}

.gallery-dop-popup-tt__area textarea:-ms-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #999999;
}

.gallery-dop-popup-tt__area textarea::-ms-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #999999;
}

.gallery-dop-popup-tt__area textarea::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #999999;
}

.gallery-dop-popup-tt__text {
  width: 100%;
  padding: 0 8px;
  margin-bottom: 40px;
}

.gallery-dop-popup-tt__text input {
  font-size: 18px;
  line-height: 25px;
  color: #000;
  background: #ffffff;
  border: 1px solid #000000;
  padding: 3px 10px;
  width: 100%;
}

.gallery-dop-popup-tt__text input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #999999;
}

.gallery-dop-popup-tt__text input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #999999;
}

.gallery-dop-popup-tt__text input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #999999;
}

.gallery-dop-popup-tt__text input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #999999;
}

.gallery-dop-popup-tt__pub {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-dop-popup-tt__pub-message {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  background: rgba(255, 0, 0, 0.5);
  border: 1px solid #ff0000;
  border-radius: 20px;
  padding: 15px 60px;
}

@media (max-width: 550px) {
  .gallery-dop-popup-tt__area textarea {
    font-size: 14px;
    line-height: 25px;
    height: 300px;
  }
  .gallery-dop-popup-tt__area textarea::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 25px;
  }
  .gallery-dop-popup-tt__area textarea:-ms-input-placeholder {
    font-size: 14px;
    line-height: 25px;
  }
  .gallery-dop-popup-tt__area textarea::-ms-input-placeholder {
    font-size: 14px;
    line-height: 25px;
  }
  .gallery-dop-popup-tt__area textarea::placeholder {
    font-size: 14px;
    line-height: 25px;
  }
  .gallery-dop-popup-tt__text input {
    font-size: 14px;
    line-height: 25px;
  }
  .gallery-dop-popup-tt__text input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 25px;
  }
  .gallery-dop-popup-tt__text input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 25px;
  }
  .gallery-dop-popup-tt__text input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 25px;
  }
  .gallery-dop-popup-tt__text input::placeholder {
    font-size: 14px;
    line-height: 25px;
  }
  .gallery-dop-popup-tt__pub-message {
    padding: 15px 43px;
  }
}
