@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  height: 100%;
}

a {
  font-family: "Roboto", sans-serif, sans-serif;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 5;
}

.header__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 60px;
}

.header__logo {
  margin-right: 110px;
}

.header__burger {
  display: none;
  position: relative;
  max-width: 25px;
  width: 100%;
  height: 18px;
}

.header__burger::before, .header__burger::after,
.header__burger span {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fff;
  left: 0;
}

.header__burger::before {
  top: 0;
}

.header__burger span {
  top: 8px;
}

.header__burger::after {
  top: 16px;
}

.header__icon {
  margin-left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 990px) {
  .header__logo {
    margin-right: 55px;
  }
  .header__icon {
    margin-left: 60px;
  }
}

@media (max-width: 768px) {
  .header__icon {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .container {
    max-width: none;
  }
  .header__body {
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  .header {
    height: 60px;
  }
  .header__logo img {
    max-width: 40px;
  }
}

.menu {
  width: 100%;
}

.menu__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list-link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__list-link:hover {
  color: #ff0000;
}

.home {
  margin-top: 120px;
}

.home__body {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.home__title {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;
  margin-bottom: 65px;
}

.home__text {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.home__text p {
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .home__body {
    max-width: none;
  }
  .home__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .home {
    margin-top: 95px;
  }
  .home__title {
    font-size: 36px;
    line-height: 42px;
  }
  .home__text {
    font-size: 24px;
    line-height: 28px;
  }
}

.footer {
  width: 100%;
  background: #333333;
  height: 120px;
}

.footer__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 60px;
}

.footer__copy {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-right: 205px;
  white-space: nowrap;
}

.footer__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__soc {
  margin-left: 85px;
}

@media (max-width: 1240px) {
  .footer__copy {
    margin-right: 130px;
  }
}

@media (max-width: 1180px) {
  .footer__copy {
    margin-right: 60px;
  }
  .footer__soc {
    margin-left: 60px;
  }
}

@media (max-width: 1050px) {
  .footer__copy {
    margin-right: 30px;
  }
  .footer__soc {
    margin-left: 30px;
  }
}

@media (max-width: 990px) {
  .footer__body {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .footer__copy {
    margin-right: 0;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer__body {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 680px) {
  .footer {
    height: 184px;
    padding-top: 30px;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }
  .footer__copy {
    font-size: 14px;
    line-height: 16px;
  }
  .footer__soc {
    margin-left: 45px;
  }
}

.footer-menu {
  width: 100%;
}

.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu__list-link {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

@media (max-width: 680px) {
  .footer-menu {
    width: 100%;
    border-right: 1px solid #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
  .footer-menu__list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 45px;
  }
  .footer-menu__list-item {
    margin-bottom: 5px;
  }
  .footer-menu__list-item:last-child {
    margin-bottom: 0;
  }
  .footer-menu__list-link {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 450px) {
  .footer-menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 70%;
            flex: 1 0 70%;
  }
  .footer-menu__list-item {
    margin-bottom: 0;
  }
  .footer-menu__list-link {
    line-height: 14px;
  }
}

.footer-soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-soc__list-item {
  margin-right: 25px;
}

.footer-soc__list-item:last-child {
  margin-right: 0;
}

@media (max-width: 680px) {
  .footer-soc {
    width: 100%;
  }
  .footer-soc__list-link img {
    max-width: 26px;
  }
  .footer-soc__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-soc__list-item {
    margin-right: 0px;
    margin-bottom: 17px;
  }
  .footer-soc__list-item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .footer-soc__list-item {
    margin-right: 0px;
    margin-bottom: 17px;
  }
}

.gallery {
  width: 100%;
  height: 100%;
  margin-top: 117px;
}

.gallery__search {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 500px) {
  .gallery {
    margin-top: 90px;
  }
}

.gallery-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-search__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-search__column input {
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding: 5px 10px;
  width: 100%;
}

.gallery-search__column:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.gallery-search__column:last-child {
  margin-left: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
}

.gallery-search__column input::-webkit-input-placeholder {
  font-size: 24px;
  line-height: 28px;
  color: #777777;
}

.gallery-search__column input:-ms-input-placeholder {
  font-size: 24px;
  line-height: 28px;
  color: #777777;
}

.gallery-search__column input::-ms-input-placeholder {
  font-size: 24px;
  line-height: 28px;
  color: #777777;
}

.gallery-search__column input::placeholder {
  font-size: 24px;
  line-height: 28px;
  color: #777777;
}

.gallery-search__toggles {
  width: 60px;
  margin: 40px auto;
  text-align: center;
}

.gallery-search__ios-toggle, .gallery-search__ios-toggle:active {
  position: absolute;
  top: -5000px;
  height: 0;
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
}

.gallery-search__checkbox-label {
  display: block;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  height: 30px;
  border-radius: 18px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border: 2px solid #000000;
}

.gallery-search__checkbox-label::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  line-height: 34px;
  text-indent: 40px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  top: -2px;
  left: -2px;
  right: auto;
  background: white;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border: 2.5px solid #ff0000;
}

.gallery-search__ios-toggle:checked + .gallery-search__checkbox-label {
  -webkit-box-shadow: inset 0px 0px 0px 20px black;
          box-shadow: inset 0px 0px 0px 20px black;
}

.gallery-search__ios-toggle:checked + .gallery-search__checkbox-label::before {
  left: calc(100% - 28px);
  /*box-shadow*/
  -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(255, 0, 0, 0.3);
          box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(255, 0, 0, 0.3);
}

.gallery-search__item {
  font-size: 24px;
  line-height: 28px;
  margin-right: 7px;
}

.gallery-search__item:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .gallery-search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery-search__column {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery-search__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .gallery-search__item span {
    display: none;
  }
  .gallery-search__item {
    margin-right: 30px;
    text-transform: capitalize;
  }
  .gallery-search__toggles {
    margin: 25px auto;
  }
}

.gallery-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 15px;
}

.gallery-images__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px;
}

.gallery-images__item img {
  margin-bottom: 10px;
  max-width: 380px;
}

.gallery-images__item span {
  font-size: 24px;
  line-height: 28px;
}

@media (max-width: 950px) {
  .gallery-images {
    max-width: none;
  }
  .gallery-images__item img {
    max-width: 280px;
  }
}

@media (max-width: 768px) {
  .gallery-images__item img {
    max-width: 180px;
  }
  .gallery-images__item {
    margin: 10px 12px 10px 12px;
  }
  .gallery-images__item span {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 500px) {
  .gallery-images {
    margin: 0 -24px;
  }
  .gallery-images__item img {
    max-width: 152px;
    margin-bottom: 5px;
  }
}
